<html>
<body>
<h1>Sorting</h1>

<table class="table">
	<thead>
        <tr>
          <th ng-class="selectedCls('name')" ng-click="changeSorting('name')">Name</th>
          <th ng-class="selectedCls('id')" ng-click="changeSorting('id')">Customer ID</th>
          <th ng-class="selectedCls('state')" ng-click="changeSorting('state')">State</th>
        </tr>
    </thead>
    <tr ng-repeat="customer in customers | orderBy:sort.column:sort.descending">
        <td>{{customer.name}}</td>
        <td>{{customer.id}}</td>
        <td>{{customer.state}}</td>
    </tr>
</table>

</body>
</html>